<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{title}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./stylesheets/style.css">
  </head>

  <body>
    <header>
      <h1 class="title">Cat Blog</h1>
    </header>
    <div>
      <h2>{{title}}</h2>
    </div>
    <div class="flexBox">
      <nav>
        <ul>
          <li><a href="createEntry">New Entry</a></li>
          <li><a href="editEntry">Edit Entry</a></li>
          <li><a href="deleteEntry">Delete Entry</a></li>
        </ul>
      </nav>
      <div class="form-popup" id="form">
        <form class="form-container" action="/add" method="post">
          <h2>Delete Entry</h2>
          <label for="blogId" id="blogId" name="blogId">
            Entry to Delete (id#):
          </label>
          <input type="text" placeholder="ID#" id="blogId" name="blogId" required><br>
          <button type="submit">
            <a>
              DELETE!
            </a>
          </button>
        </form>
      </div>
    </body>
  </body>
</html>