<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{title}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./stylesheets/style.css">
  </head>

  <body>
    <header>
      <a href="/" class="logo"><img class="logo" src="./images/cat.jpeg" href="/" alt="cat logo"></a>
      <h1 class="title">
        <a href="/" class="title">Cat Blog</a>
      </h1>
    </header>
    <div>
      <h2>{{title}}</h2>
    </div>
    <div class="flexBox">
      <nav>
        <ul>
          <li><a href="create">New Entry</a></li>
          <li><a href="edit">Edit Entry</a></li>
          <li><a href="delete">Delete Entry</a></li>
        </ul>
      </nav>
      <div class="form-popup" id="form">
        <form class="form-container" action="/edit" method="POST">
          <label for="blogId" id="blogId" name="blogId" class="blogTitle">
            Entry to Edit (cat#):
          </label>
          <input type="text" placeholder="Cat#" id="blogId" name="blogId" required><br>
          <label for="blogTitle" class="blogTitle">Title:
          </label>
          <input type="text" placeholder="Title" id="blogId" name="blogTitle" required><br>
          <label for="blogEntry" class="blogEntry">Edit Entry:
          </label><br>
          <textarea type="text" placeholder="Tell us more about your cat" id="blogEntry" name="blogEntry" required></textarea><br>
          <label for="blogImg" class="blogImg">Add Photo:
          </label>
          <input type="file" id="blogImg" name="blogImg" class="blogImg"><br>
          <button class="submitBtn" type="submit" style="color:#95acb8">
            Edit
          </button>
          <button class="cancelBtn">
            <a href="./" style="color:#086292">
              cancel
            </a>
          </button>
        </form>
      </div>
    </div>
  </body>
</html>