body {
  background-color: black;
  color: white;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
  align-self: center;
}

nav{
  background-color: rgb(34, 34, 34);
  max-height: 90px;
  margin-top: 60px;
  padding-right: 20px;
  color: #086292;
  min-width: 130px;
  margin-left: 20px;
}

.title{
  color:#97c2da;
  
}

ul{
  align-items: center;
  align-self: center;
}

.colorMode{
  float: right;
  text-align: center;
  margin-left: auto;
  margin-top: 20px;
  margin-right: 10px;
  padding-left: 10px;
  height: auto;
  font-size: 17px;
  background-color: #086292;
  color: white;
  border-radius: 5px;
  min-width: 105px;
}

button:hover{
  cursor: pointer;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  text-decoration: underline;
}

h3 {
  text-align: right;
}

.flexBox{
  display: flex;
  flex-direction: rows;
}

.entries{
  flex-basis: 80%;
}

.blogTitle{
  padding-right: 10px;
}
.blogImg{
  padding-right: 10px;
  padding-bottom: 20px;
}

h4 {
  text-align: center;
  font-size: larger;
  padding-top: 20px;
}

h5 {
  text-align: center;
  font-size: large;
  text-decoration: underline;
}

.text{
  flex-direction: column;
}

p{
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin: 10px;
  font-size: larger;
}

section{
  background-color: #086292;
  border-radius: 20px;
}

a{
  font-weight: bold;
  text-decoration: none;
  color: #086292;
}

.buttons{
  display: flex;
  padding: 10px;
  align-self: left;
  margin-left: 30px;
  margin-right: 20px;
  color: white;
}

.form-popup {
  display: block;
  bottom: 0;
  right: 15px;
  border: 3px solid #093c57;
  border-radius: 5px;
  background-color: #086292;
  min-width: 75%;
  margin: 5%;
}

.form-container {
  min-width: 75%;
  max-width: auto;
  padding: 10px;
}

.form-container input[type=text]{
  width: 50%;
  padding: 10px;
  margin: 5px 0 22px 0;
  border: none;
  background: #97c2da;
}
.form-container textarea[type=text] {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background-color: #97c2da;
}

.form-container input[type=text]:focus,
.form-container textarea[type=text] {
  background-color: #97c2da;
  outline: none;
}

.form-container .submitBtn {
  background-color: #4e4e4e;
  border-radius: 5px;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 25%;
  margin-bottom: 10px;
  margin-right: 15px;
}

.form-container .cancelBtn {
  background-color: rgb(131, 131, 131);
  border-radius: 5px;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 25%;
  margin-bottom: 10px;
  align-self: right;
}
.submitBtn{
  justify-self: right;
  align-self: right;
  color: #95acb8;
}


.submitBtn .cancelBtn a{
  color: white;
}

.cancelBtn{
  justify-self: right;
  align-self: right;
  color: black;
}

.form-container .submitBtn:hover,
.cancelBtn:hover {
  transform: scale(1.05);
  font-size: 18px;
}